PORT=3000
CORS_ORIGINS=http://localhost:4200
HISTORY_LIMIT=50

AUTO_MESSAGE_INTERVAL_MS=21000
AUTO_MESSAGE_TEXT="Автоматичне повідомлення від ст. Жукова Владислава Віталійовича гр. ІС-33 Варіант 11"

RATE_LIMIT_BURST=5
RATE_LIMIT_REFILL_PER_SECOND=1

LOG_LEVEL=debug
